*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    
}
.body .text-container, .img-container{
   width: 50%;
}

.img-container img{
    width: 100%;
    height:50%;
    overflow: hidden;
    /* opacity: 0.9; */
    
    
}
.body .text-container{
    background-color: rgba(4, 111, 160, 0.9);
    overflow: hidden;
    height: 508px;
    padding-top: 100px;
    padding-left: 100px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-section{
    position: absolute;
    top: 10px;
    display: flex;
    left: 100px;
    gap: 700px;
}
.main-section h1{
    color: white;
    font-family:cursive;
    font-weight: 900;
    font-size: 35px;
}
.main-section span{
    color: rgba(2, 2, 68);
}
.nav-link{
    display: flex;
    gap: 30px;
}
.nav-link2{
    display: none;
}
.nav-link a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fas{
    display: none;
}
.text-container p{
    padding: 20px 0px;
    font-size: 30px;

}
.text-container h2{
    font-size: 28px;
}
.text-container h1{
    padding: 20px 0px;
    font-weight: 900;
    font-size: 50px;
}

button{
    padding: 15px 20px;
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    margin-right: 60px;
    margin-top: 20px;
}
.about-container{
    display: flex;
    position: absolute;
    top: 570px;
    left: 100px;
    gap: 150px;
}
.about-container .image-container , .text-wrapper{
  width: 50%; 
}
.image-container img{
    width: 80%;
    overflow: hidden;
}
.about-container .text-wrapper{
    line-height: 2.5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
     font-size: 17px; 
     
}
.project-container{
    display: flex;
    gap: 30px;
        background-image:linear-gradient(to right, rgb(0, 183, 255) , rgb(0, 255, 255));
}
.project-container .project{
     width: 34.2%;
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
    overflow: hidden;
    
}
.project-container .project-2 , .project-3{
    width: 26.8%; 
   /* padding-left: 100px; */
   margin-top: 100px;
   margin-bottom: 200px;
   overflow: hidden;
   
}
 #image{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    
}
.project-container p{
    background-color:rgba(4, 111, 160, 0.9) ;
    position: absolute;
    top: 1340px;
    width: 26.8%;
    padding: 20px 40px;
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.project-container h1{
    position:absolute;
    top: 1050px;
    left: 100px;
    color: rgb(53, 45, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project-container button{
    position: absolute;
    top:1450px ;
    left: 45%;
    background-color: black;
    border: none;
}
.contact-container{
     margin-top: 100px; 
    background-color:rgba(4, 111, 160, 0.9) ;
    /* padding-left: 50px; */
    text-align: center;
    padding: 50px;
    line-height: 1.5;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-container button{
    background-color: black;
    border: none;
}
.contact-container img{
    width: 3%;
    overflow: hidden;
}
@media( max-width:1115px){
    .text-container h1{
        padding: 20px 0px;
        font-weight: 900;
        font-size: 30px;
    }  
    .img-container img{
        width: 100%;
        height:61.5%;
        overflow: hidden;
        /* opacity: 0.9; */
        
        
    }
    .body .text-container{
        height: 455px;
    }
    .main-section{
        position: absolute;
        top: 10px;
        display: flex;
        left: 100px;
        gap: 470px;
    }
    .about-container .text-wrapper{
        line-height: 2.5;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
         font-size: 11px; 
         
    }
    .project-container{
        margin-top: 100px;
}
.project-container h1{
    position:absolute;
    top: 880px;
    left: 100px;
}
.project-container p{
    background-color:rgba(4, 111, 160, 0.9) ;
    position: absolute;
    top: 1100px;
}
.project-container .project{
    width: 35.9%;
}
.project-container button{
    position: absolute;
    top:1180px ;
    left: 45%;
}
}


@media(max-width:900px){
    .body{
        display: flex;
        
    }
    .body .text-container, .img-container{
        width: 40%;
    }
    .body .text-container{
        width: 60%;
    }
    .img-container img{
        width: 100%;
        height:90%;
        overflow: hidden;
        /* opacity: 0.9; */
        
        
    }
    .body .text-container{
        background-color: rgba(4, 111, 160, 0.9);
        height: 198px;
        padding-top: 50px;
        padding-left: 10px;
        color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .main-section{
        position: absolute;
        top: 0px;
        display: flex;
        left: 10px;
        gap: 130px;
    }
    .main-section h1{
        color: white;
        font-family:cursive;
        font-weight: 900;
        font-size: 25px;
    }
    .main-section span{
        color: rgba(2, 2, 68);
    }
    .nav-link{
        display: none;
        gap: 10px;
    }
    .nav-link2{
        display: flex;
        /* color: black; */
        padding-top: 30px;
        gap: 15px;
        height:70%;
        width:0;
        position: fixed;
        z-index:1;
        top:10px;
        right:0;
        background-color:  rgba(4, 111, 160, 0.9);
         overflow-x: hidden; 
        transition: 0.5s;
        /* padding-top:60px; */
    }
   
    .nav-link2 a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-left: 35px;
        
    }
    #hamburger{
        display: block;
        font-size:20px;
           
     
    }
    .fas{
        position: absolute;
        padding-left: 330px;
        padding-top: 10px;
        cursor: pointer;
        
        
    }
    .close{
        position:absolute;
            top:0;
            font-size:35px;
             margin-left:100px;
    }
    .text-container p{
        padding: 5px 0px;
        font-size: 20px;
    
    }
    .text-container h2{
        font-size: 18px;
    }
    .text-container h1{
        padding: 6px 0px;
        font-weight: 900;
        font-size: 15px;
    }
    button{
        padding: 5px 3px;
        background-color: black;
        border: none;
        border-radius: 3px;
        color: white;
        margin-right: 2px;
        margin-top: 6px;
        font-size: 12px;
    }
    .about-container{
        display: flex;
        position: absolute;
        top: 230px;
        left: 10px;
        gap: 5px;
    }
    .about-container .image-container {
      width: 40%; 
    }
    .about-container .text-wrapper{
        width: 60%;
    }
    .image-container img{
        width: 90%;
        overflow: hidden;
    }
    .about-container .text-wrapper{
        line-height: 1.5;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
         font-size: 8px; 
         
    }
    .about-container p{
        font-size: 6px;
    }
    .project-container{
        display: flex;
        gap: 3px;
            background-image:linear-gradient(to right, rgb(0, 183, 255) , rgb(0, 255, 255));
            position: absolute;
            top: 250px;
    }
    .project-container .project{
         width: 33.6%;
        padding-left: 10px;
        margin-top: 40px;
        margin-bottom: 90px;
        
    }
    .project-container .project-2 , .project-3{
        width: 31.2%; 
       /* padding-left: 100px; */
       margin-top: 40px;
       margin-bottom:90px;
       
    }
     #image{
        width:100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        overflow: hidden;
        
    }
    .project-container p{
        background-color:rgba(4, 111, 160, 0.9) ;
        position: absolute;
        top: 110px;
        width: 31%;
        padding: 10px 5px;
        font-size: 12px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .project-container h1{
        position:absolute;
        top: 9px;
        left: 10px;
        color: rgb(53, 45, 45);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
    }
    .project-container button{
        position: absolute;
        top:150px ;
        left: 40%;
        background-color: black;
        border: none;
        padding: 5px;
    }
    .contact-container{
         margin-top: 358px; 
        background-color:rgba(4, 111, 160, 0.9) ;
        /* padding-left: 50px; */
        text-align: center;
        padding: 10px 0px;
        line-height: 1.5;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .contact-container button{
        background-color: black;
        border: none;
        padding: 5px;
    }
    .contact-container img{
        width: 3%;
        overflow: hidden;
    }
    .contact-container p, #handle{
        font-size: 10px;
    }
    .contact-container h1{
        font-size: 15px;
    } 
}
